/* CSS para la página principal */
.page-content {
  --background: url('/assets/img/Graphic_Design_A_meticulously_organized_teachers_attendance_re_2.jpg') no-repeat center center / cover;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 100vh;           /* Asegura que el contenedor ocupe el 100% de la altura de la vista */
}

/* Estilo para la tarjeta personalizada */
.custom-card {
  background: rgba(0, 0, 0, 0.7); /* Fondo negro con 70% de opacidad */
  color: white; /* Color de texto blanco */
  border-radius: 10px; /* Bordes redondeados opcionales */
  text-align: center; /* Alinea el texto al centro */
  padding: 16px; /* Espaciado interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.479); /* Opcional: sombra para destacar la tarjeta */
  transition: all 0.3s ease-in-out; /* Transición suave al cambiar el tamaño */
  min-height: 150px; /* Altura mínima para cuando el contenido regular se muestra */
}

/* Ajuste dinámico de la altura de la tarjeta cuando se muestra el ícono de carga */
.custom-card.loading {
  min-height: 300px; /* Cambia la altura mínima de la tarjeta para contener el ícono de carga */
}

/* Estilos para el contenedor del ícono de carga dentro de la tarjeta */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Asegura que el contenedor de carga ocupe todo el ancho de la tarjeta */
  height: auto; /* Permite que la altura del contenedor se ajuste automáticamente */
  padding: 20px; /* Añade espacio adicional para asegurarse de que el ícono se ajuste */
  background: rgba(0, 0, 0, 0); /* Fondo transparente */
  z-index: 10; /* Asegúrate de que el ícono de carga esté sobre otros elementos */
}

/* Estilos para el ícono de carga con animación de giro */
.loading-icon {
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Ajusta el tamaño según sea necesario */
  animation: spin 1s linear infinite; /* Gira continuamente durante 1 segundo */
}

/* Definición de la animación de giro */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Estilo para la información seleccionada */
.selected-info {
  background-color: rgba(0, 0, 0, 0.678);
  font-size: 25px;
  color: white; /* Asegúrate de que el texto sea visible sobre el fondo oscuro */
  text-align: center;
}
