<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    
  </ion-header>
  
  <ion-card style="background: none; text-align: center;">
    <img alt="logo_duoc" src="assets/img/logo-duoc.png"  />
    <ion-card-header>
      <ion-card-title style="color: #beae19; font-size: 30px;">Docentes</ion-card-title>
    </ion-card-header>
    
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-item class="custom-card">
          <ion-input
            [(ngModel)]="email"
            label="Usuario"
            label-placement="floating"
            [clearInput]="true"
            fill="outline"
            placeholder="example@duocuc.profesor.cl">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-item class="custom-card">
          <ion-input
            [(ngModel)]="password"
            [type]="showPassword ? 'text' : 'password'"
            label="Contraseña"
            label-placement="floating"
            [clearInput]="true"
            fill="outline"
            placeholder="Ingrese su Contraseña.">
          </ion-input>
          <ion-button slot="end" (click)="togglePassword()">
            <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-button expand="full" (click)="login()" class="custom-login-button">Iniciar Sesión</ion-button>
      </ion-col>
    </ion-row>

    <div class="loading-container" *ngIf="loading">
      <img src="assets/img/icono_carga.png" class="loading-icon" />
    </div>
  </ion-grid>
</ion-content>
