#container {
  

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}




ion-content {
  --background: url('/assets/img/home_fondo.jpg') no-repeat center center / cover;
}

.page-content {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 100vh;           /* Asegura que el contenedor ocupe el 100% de la altura de la vista */
}

/* CSS para la tarjeta */
.custom-card {
  border-radius: 10px; /* Bordes redondeados opcionales */
  text-align: center; /* Alinea el texto al centro */
  height: 60px;
 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.295); /* Opcional: sombra para destacar la tarjeta */
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  background-color: #ffffff;
}

.custom-login-button {
  --background: #beae19; /* Fondo amarillo */
  --color: #000000; /* Texto negro */
 
}

/* Estilos para el contenedor del ícono de carga */
.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* Fondo semitransparente */
  z-index: 10; /* Asegúrate de que el ícono de carga esté sobre otros elementos */
}

/* Estilos para el ícono de carga con animación de giro */
.loading-icon {
  margin-top: 300px;
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: 100px;
  animation: spin 3s linear infinite; /* Gira continuamente durante 3 segundos */
}

/* Definición de la animación de giro */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.forgot-password-link {
  --background: #2e5999; /* Fondo amarillo */
  --color: #ffffff; /* Texto negro */
  
}


