<ion-header>
</ion-header>

<ion-content class="ion-padding" style="text-align: center; display: flex; flex-direction: column; justify-content: center;">
  
  <!-- Tarjeta con el logo y título -->
  <ion-card style="background: rgba(0, 0, 0, 0.5); text-align: center; margin-bottom: 50px;">
    <img alt="logo_duoc" src="assets/img/logo-duoc.png" />
    <ion-card-header>
      <ion-card-title style="color: #beae19; font-size: 30px;">Reestablecer Contraseña</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Formulario para enviar correo -->
  <ng-container *ngIf="!isCodeSent">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Ingrese su Correo o Nombre de Usuario:</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="emailOrUsername" placeholder="Correo o Nombre de Usuario"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-button expand="full" (click)="sendVerificationEmail()" [disabled]="loading" style="margin: 0 50px;">
      Enviar Correo de Verificación
    </ion-button>
  </ng-container>

  <!-- Formulario para ingresar código de verificación -->
  <ng-container *ngIf="isCodeSent && !isCodeVerified">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Código de Verificación</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="verificationCode" placeholder="000-0000" [disabled]="loading"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-button expand="full" (click)="verifyCode()" [disabled]="loading" style="margin: 0 50px;">
      Verificar Código
    </ion-button>
  </ng-container>

  <!-- Formulario para actualizar la contraseña -->
  <ng-container *ngIf="isCodeVerified">
    <div *ngIf="loading" class="loading-container">
      <img src="assets/img/icono_carga.png" class="loading-icon" />
    </div>

    <ng-container *ngIf="!loading">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>Nueva Contraseña</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input [(ngModel)]="newPassword" type="password" placeholder="Ingrese Nueva Contraseña"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>Repetir Contraseña</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input [(ngModel)]="confirmPassword" type="password" placeholder="Repetir Contraseña"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-button expand="full" (click)="updatePassword()" style="margin: 0 50px;">
        Actualizar Contraseña
      </ion-button>

      <!-- Mensaje de éxito -->
      <div class="success-message" *ngIf="successMessage" style="margin-top: 20px;">
        <p>Su contraseña ha sido actualizada con éxito.</p>
        <p>Redirigiendo a la pantalla principal en {{ countdown }} segundos...</p>
      </div>
    </ng-container>
  </ng-container>

</ion-content>
